.container-secao-produtos {
    width: 80%;
    display: flex;
    justify-content: center;
}

/* FILTROS DE PESQUISA ################################# */
.container-secao-filtro {
    background-color: #E7FAFE;
    display: flex;
    justify-content: center;
    width: 100%;
}

.woocommerce-products-header__title {
    text-transform: uppercase;
    font-size:14pt;
    font-weight: 300;
    color: black;
}

.container-secao-filtro > div {
    width: 1100px;
    margin-bottom: 30px;
}

.secao-filtros > p {
    margin-bottom: 30px;
}

.filtros-pratos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-ordenar-preco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


/* Barra de pesquisa */
.pratos-buscar {
    margin-bottom: 20px;
}

.pratos-buscar > p {
    font-size:12pt;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.pratos-buscar > div {
    width: 400px;
    border-bottom: solid 2px #7A247D;
}

.pratos-buscar .search-categoria-produto-text {
    width: 100%;
    border: none;
    background-color: transparent;
}

.pratos-buscar .search-categoria-produto-text:focus {
    outline: none;
}

/* Ordenação */

.pratos-ordenar > p {
    font-size:12pt;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.pratos-ordenar > div {
    width: 400px;
    border-bottom: solid 2px #7A247D;
}

.pratos-ordenar .orderby {
    color: black;
    font-size: 10pt;

    width: 100%;
    border: none;
    background-color: transparent;
}

.pratos-ordenar .orderby:focus {
    outline: none;
}

/* Filtro de preço */

.pratos-filtro-preco > p {
    font-size:12pt;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.pratos-filtro-preco label {
    font-size:12pt;
    font-weight: 400;
    color: black;
    margin-right: 10px;
}

.pratos-filtro-preco #min_price {
    margin-right: 20px;
}

.pratos-filtro-preco input {
    border: none;
    background-color: transparent;
    border-bottom: solid 2px #7A247D;
}

.pratos-filtro-preco input:focus {
    outline: none;
}