.container-myaccount-orders {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container-myaccount-orders > div {
    width: 80%;
}

/* Esconder as bordas */
table {
    border-style : hidden!important;
}

td {
    border-style : hidden!important;
}
/* */

.woocommerce-orders-table > thead tr {
    font-size: 14pt;
    font-weight: 300;
    text-decoration: none;
}  

.woocommerce-orders-table > tbody tr {
    height: 50px;
    font-size: 12pt;
    font-weight: 300;
}  

.woocommerce-orders-table td {
    width: 500px;
}

/* Coluna de número do pedido */

.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number {
    color: #6A066D;
}

/* Coluna de ações */

.woocommerce-orders-table__header.woocommerce-orders-table__header-order-actions {
    display: none;
}

.woocommerce table.my_account_orders .button {
    background-color: transparent;
    color: #6A066D;
    letter-spacing: 1.1px;
    border: solid 3px #6A066D;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    transition: .4s;
}

.woocommerce table.my_account_orders .button:hover {
    background-color: #7A247D;
    color: #E7FAFE;
    transition: .4s;
}