.searchbar-wrapper {
    display: inline-flex;
    border-bottom: solid #F5C661 2px;
}

/* Barra de pesquisa */
.searchtext {
    background-color: transparent;
    border: none;

    font-weight: lighter;
    color: #F5C661;
    font-size: 16pt;
    
    width: 350px;
}

.searchtext::placeholder {
    font-weight: 200;
    color: #d8af55;
    font-weight: inherit;
}

.searchtext:focus {
    outline:none;
    background-color: transparent;
}

/* Ícone de pesquisa */

#searchbutton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#searchbutton:focus {
    outline: none;
}

#searchbutton img {
    height: 20px;
}