/*
Theme name: Comes e Bebes
*/

@import "css/searchform.css";
@import "css/sidebar.css";
@import "css/paginacao.css";
@import "css/myaccount-menu.css";

/* Arquivos de paginas */
@import "css/home.css";
@import "css/produtos.css";
@import "css/categorias.css";
@import "css/single-product.css";

@import "css/myaccount-dashboard.css";
@import "css/myaccount-orders.css";
@import "css/myaccount-addresses.css";

html {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

/* Header ################################################################ */

.header-container {
    background-color: #7A247D;
    padding:20px;
}

/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Esquerda */

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-left .container-search {
    margin-left: 20px;
    margin-bottom: 10px;
}

.header-left img {
    height:55px;
}

.search-container {
    display: flex;
}

.searchtext {
    width: 100%;
}

/* Direita */

.header-right {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-right .nav-items {
    display: flex;
    align-items: center;
}

.nav-items img {
    height: 30px;
}

.nav-items .nav-item {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-fazerpedido {
    border: none;
    cursor: pointer;

    text-decoration: none;
    color: inherit;
    background-color: #F5C661;
    padding: 10px;
    font-weight: 500;
    transition: .2s
    ;
}

.nav-fazerpedido:hover {
    transform: scale(1.1);
    transition: .2s;
}

/* Footer ################################################################ */

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #F5C661;

    padding:3px;
    font-size: 12pt;
    text-align: center;
}


main {
    background-color: #E7FAFE;
}

button:focus {
    outline: none;
}

/* Hidden */
.hidden {
    display: none;
}